[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
Sphinx = "*"
jupyterlab = "*"

[packages]
trino = "*"
pandas = "*"
pyarrow = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
